<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>默认的首页</title>
</head>
<body>
<h1>记事本</h1>
<div id="default-content">
	<div id="default-title">记事本留言表</div>
	<div id="default-list"><span id="default-list-span"></span></div>


</div>


<div id="default-write-content">
<div id="default-write-title"><input type="text" name="title" id="title" /></div>
<div id="default-write-title"><input type="text" name="title" id="title" /></div>
<div id="default-write-title"><input type="text" name="title" id="title" /></div>
<div id="default-write-title"><input type="text" name="title" id="title" /></div>
<div id="default-write-submit"><input type="submit" value="发表留言" /></div>
</div>
</body>
</html>